# One config file to rule them all! Handles the basic information we need and uses data_map.cfg and All_kinematic.cfg for any other info. More useful parameter conditions can be made or the global cut can be changed here. 
11449 11451 11452 11456 11493 11494 11495 11496 11551 11554 11562 11563 11564 11565 11568 11570 11571
endrun
bb.tr.n==1&&bb.ps.e>0.2&&abs(bb.tr.vz[0])<0.08&&sbs.hcal.e>0.025&&sbs.hcal.nclus>0&&(bb.ps.e+bb.sh.e)>1.7&&bb.gem.track.nhits>3&&abs(bb.etot_over_p-0.92)<0.2
endcut
exp Gmn_nTPE
kin SBS4
data_map_name data_map.cfg
kinematic_name All_Kinematic.cfg 
SBS_field 30
W_mean 0.93
W_sigma 0.25
targ LD2
tdiff 510
