# One config file to rule them all! Handles the basic information we need and uses data_map.cfg and All_kinematic.cfg for any other info. More useful parameter conditions can be made or the global cut can be changed here.
#Total events 7493655, divide by 10 each chunck is 749365
13656 13657 13663 13676 13683 13696 13697 13719 13720 13730 13747 13768 13769 13795 13796
endrun
#bb.tr.n==1&&bb.ps.e>0.2&&abs(bb.tr.vz[0])<0.08&&sbs.hcal.e>0.025&&sbs.hcal.nclus>0&&(bb.ps.e+bb.sh.e)>1.7&&bb.gem.track.nhits>3&&abs(bb.etot_over_p-0.92)<0.2
bb.tr.n>0&&bb.ps.e>0.2&&abs(bb.tr.vz[0])<0.08&&bb.tr.p[0]>1.0&&sbs.hcal.e>0.025&&bb.gem.track.nhits>3
endcut
exp Gmn_nTPE
kin SBS9
data_map_name data_map.cfg
kinematic_name All_Kinematic.cfg 
SBS_field 70
W2_mean 0.88939
W2_sigma 0.111265
targ LH2
coin_mean 52
coin_sigma 4
coin_sig_fac 5
MAXNTRACKS 1000
dxO_p -0.85169
dyO_p -0.069840
dxsig_p 0.079424
dysig_p 0.074239
dx_low -2
dx_high 2
dy_low -2
dy_high 2
useAlshield 0
binfac 400
confac 2.0
W2confac 2.0
dconfac 10.0
W2fitmax 1.3
W2fitmaxwide 6.0
hbinfac 100.0
hcalemin 0.03
thetapq_low 0.067
thetapq_high 0.092
first_event 6744286
last_event 7493650
#W2_mean 0.82179
#W2_sigma 0.086568
#W2_mean 0.88741
#W2_sigma 0.107365

