# One config file to rule them all! Handles the basic information we need and uses data_map.cfg and All_kinematic.cfg for any other info. More useful parameter conditions can be made or the global cut can be changed here.
#Total events are 24209121. Divide by 10, each batch is 2420912
13459 13460 13461 13463 13464 13465 13466
endrun
#bb.tr.n==1&&bb.ps.e>0.2&&abs(bb.tr.vz[0])<0.08&&sbs.hcal.e>0.025&&sbs.hcal.nclus>0&&(bb.ps.e+bb.sh.e)>1.7&&bb.gem.track.nhits>3&&abs(bb.etot_over_p-0.92)<0.2
bb.tr.n>0&&bb.ps.e>0.2&&abs(bb.tr.vz[0])<0.08&&bb.tr.p[0]>1.7&&sbs.hcal.e>0.025&&bb.gem.track.nhits>3&&sbs.hcal.nclus>0&&bb.sh.nclus>0
endcut
exp Gmn_nTPE
kin SBS8
data_map_name data_map.cfg
kinematic_name All_Kinematic.cfg 
SBS_field 0
W2_mean 0.761107
W2_sigma 0.156548
targ LH2
coin_mean 47
coin_sigma 3
coin_sig_fac 5
MAXNTRACKS 1000
dxO_p 0.045677
dyO_p -0.0562352
dxsig_p 0.076668
dysig_p 0.052234
dx_low -2
dx_high 2
dy_low -2
dy_high 2
useAlshield 0
binfac 400
confac 2.0
W2confac 2.0
dconfac 10.0
W2fitmax 1.25
W2fitmaxwide 6.0
hbinfac 100.0
hcalemin 0.03
thetapq_low 0.0
thetapq_high 0.03
first_event 21788209
last_event 24209120
