#One config file to rule them all! Handles the basic information we need and uses data_map.cfg and All_kinematic.cfg for any other info. More useful parameter conditions can be made or the global cut can be changed here. 
11573 11587 11588
endrun
#bb.tr.n==1&&bb.ps.e>0.2&&abs(bb.tr.vz[0])<0.08&&sbs.hcal.e>0.025&&sbs.hcal.nclus>0&&(bb.ps.e+bb.sh.e)>1.7&&bb.gem.track.nhits>3&&abs(bb.etot_over_p-0.92)<0.2
bb.tr.n==1&&bb.ps.e>0.2&&abs(bb.tr.vz[0])<0.08&&bb.tr.p[0]>1.7&&bb.gem.track.nhits>3&&bb.sh.nclus>0
endcut
exp Gmn_nTPE
kin SBS4
data_map_name ../../config/data_map.cfg
kinematic_name ../../config/All_Kinematic.cfg 
SBS_field 0
W2_mean 0.8377
W2_sigma 0.0956
targ LH2
coin_mean 54
coin_profile_sigma 7
coin_sigma 3.25467
coin_sig_fac 5
MAXNTRACKS 1000
dxO_p 0.018585
dyO_p -0.0502702
dxsig_p 0.0511821
dysig_p 0.059421
dx_low -2
dx_high 2
dy_low -2
dy_high 2
useAlshield 0
binfac 400
confac 2.0
W2confac 2.0
dconfac 10.0
W2fitmax 1.3
W2fitmaxwide 6.0
hbinfac 200.0
hcalemin 0.0025
thetapq_low 0.0
thetapq_high 0.03

