#One config file to rule them all! Handles the basic information we need
rootfile_dir /lustre19/expphy/volatile/halla/sbs/jboyd/simulation/out_dir/MC_REPLAY_OUT_DIR/simc/SBS4
histfile_dir /lustre19/expphy/volatile/halla/sbs/jboyd/simulation/out_dir/MC_REPLAY_OUT_DIR/hist/
replay_type jboyd
endfile
globalcut bb.ps.e>0.2&&abs(bb.tr.vz[0])<0.08&&bb.tr.p[0]>1.0&&bb.gem.track.nhits>=3&&sbs.hcal.nclus>0&&sbs.hcal.e>0.01&&bb.tr.n==1&&bb.sh.nclus>0
exp Gmn_nTPE
kin SBS4
SBS_field 30
kinematic_name ../../config/All_Kinematic.cfg
partial_name_p proton_mag30port0387
partial_name_n neutron_mag30port0387
sync_jobs true
