# One config file to rule them all! Handles the basic information we need and uses data_map.cfg and All_kinematic.cfg for any other info. More useful parameter conditions can be made or the global cut can be changed here. 
11593 11594 11595
endrun
bb.tr.n==1&&bb.ps.e>0.2&&abs(bb.tr.vz[0])<0.08&&sbs.hcal.e>0.025&&sbs.hcal.nclus>0&&(bb.ps.e+bb.sh.e)>1.7&&bb.gem.track.nhits>3&&abs(bb.etot_over_p-0.92)<0.2
endcut
exp Gmn_nTPE
kin SBS4
data_map_name data_map.cfg
kinematic_name All_Kinematic.cfg 
SBS_field 50
W2_low 0.1
W2_high 1.3
targ LD2
tdiff 510
tdiffmax 10
MAXNTRACKS 1000
dxO_n 0.0113405
dyO_n 0.00501656
dxsig_n 0.162970
dysig_n 0.324
dxO_p -1.08223
dyO_p 0.00501656
dxsig_p 0.1873
dysig_p 0.324
dxmax 1.0833
useAlshield 0
dx_low -3
dx_high 2
dy_low -2
dy_high 2

