# One config file to rule them all! Handles the basic information we need and uses data_map.cfg and All_kinematic.cfg for any other info. More useful parameter conditions can be made or the global cut can be changed here. 
11474 11476 11498 11572
endrun
#bb.tr.n==1&&bb.ps.e>0.2&&abs(bb.tr.vz[0])<0.08&&sbs.hcal.e>0.025&&sbs.hcal.nclus>0&&(bb.ps.e+bb.sh.e)>1.7&&bb.gem.track.nhits>3&&abs(bb.etot_over_p-0.92)<0.2
globalcut bb.ps.e>0.2&&abs(bb.tr.vz[0])<0.12&&bb.tr.p[0]>1.0&&bb.gem.track.nhits>=2&&bb.sh.nclus>0
exp Gmn_nTPE 
kin SBS4
data_map_name ../../config/data_map_pass2.cfg
kinematic_name ../../config/All_Kinematic.cfg 
SBS_field 30
pass pass2
W2_low 0.1
W2_high 1.25
MAXNTRACKS 1000
targ Dummy
e_method 3
dxO_n -0.085058
dyO_n -0.0330911
dxsig_n 0.206594
dysig_n 0.295705
dxO_p -0.728973
dyO_p -0.0330911
dxsig_p 0.202975
dysig_p 0.295705
dx_pn 0.6439
dx_low -3
dx_high 3
dy_low -2
dy_high 2
useAlshield 0
dxsig_n_fac 1
dxsig_p_fac 1
dysig_n_fac 1
dysig_p_fac 1
dysig_cut_fac 3
W2fitmax 1.8
binfac 400
hbinfac 40
coin_mean 0.222435
coin_sig_fac 5
coin_profile_sig 4.0
coin_sigma 1.64746
hcalemin 0.03
hcalnclusmin 0 
