#A config file to handle the creation of the efficiency map for an entire kinematic
#repurpose the functionality of runnums in parse config, but with field settings
0 30 50
endrun
exp Gmn_nTPE
kin SBS4
pass mc
targ LH2
fitx_low -2.28285
fitx_high 0.2
fity_low -0.45
fity_high 0.492343
dxsig_n 0.20453
dysig_n 0.282357
dxsig_p 0.213395
dysig_p 0.282357
dxsig_n_fac 1
dxsig_p_fac 1
dysig_n_fac 1
dysig_p_fac 1
fidxmin -2.28285
fidxmax 0.79172
fidymin -0.492343
fidymax 0.492343
