#A config file to handle the creation of the efficiency map for an entire kinematic
#repurpose the functionality of runnums in parse config, but with field settings
70
endrun
exp Gmn_nTPE
kin SBS9
pass mc
targ LH2
fitx_low -1.9
fitx_high -0.1
fity_low -0.05
fity_high 0.4
dxsig_fid_n 0.153584
dysig_fid_n 0.268719
dxsig_fid_p 0.162997
dysig_fid_p 0.268719
dxsig_n_fac 1
dxsig_p_fac 1
dysig_n_fac 1
dysig_p_fac 1
fidxmin -2.33325
fidxmax 0.842666
fidymin -0.505981
fidymax 0.505981

